

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes App</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('header') %>

  <div class="container">
    <a href="/notes"><h1 class="notes">Start Taking Notes </h1></a>
    
   
    <h2 class="text">Take notes, organize your thoughts, and stay productive with our simple and intuitive note-taking app.
    Create, edit, and manage your notes with ease. Access them from anywhere, at any time.</h2>
    <div class="video-box">
      <video width="80%" height="400" controls autoplay muted>
        <source src="/media/promo.mp4" type="video/mp4" >
        Your browser does not support the video tag.
      </video>
    </div>
    
  

  </div>
  <div class="footer">
    <p>Copyright © 2024 Notes App</p>
    <p>Made with ❤️ by RajeshN</p>
  </div>
</body>
</html>

